@model ChatR.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Register";
}

<section class="m-b-lg">
    <header class="wrapper text-center">
        <strong>Register to get in touch</strong>
    </header>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="list-group">
            <div class="list-group-item">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control no-border", placeholder = "Username" })
            </div>
            <div class="list-group-item">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control no-border", placeholder = "Password" })
            </div>
            <div class="list-group-item">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control no-border", placeholder = "Confirm password" })
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
        <div class="line line-dashed"></div>
        <p class="text-muted text-center"><small>You already have an account?</small></p>
        <a href="@Url.Action("Login")" class="btn btn-lg btn-default btn-block">Login</a>
    }

</section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
